.nav {
	grid-area: n;
	background-color: rgb(255, 255, 255);
	padding: 20px;
	min-height: 500px;
	border-radius: 5px;
}

.item a {
   color: rgb(0, 0, 0);
}
a.activeLink {
	color: rgb(153, 153, 153);
}